.Profile{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.left-p{
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-left: 430px;
}
tac
.left-p>img{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
}
.twitter{
    margin-left: 15px;
    font: inter;
    line-height: 30px;
    font-size: x-large;
    font-weight: bold;  
    size: 20px;  
}
.right-p{
    margin-left: 350px;
    margin-top: -50px;
}
.right-p>img{
    margin-top: -150px;
}
@media screen and (max-width: 1080px){
    .Profile{
    display: flex;
    margin-left: 100px;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    }
    .left-p>img{
        margin-left: 730px;
    }
    .twitter{
    margin-left: 740px;
    font: inter;
    line-height: 30px;
    font-size: x-large;
    font-weight: bold;  
    size: 20px;  
    }
}
